{% extends 'base.html' %}
{% from '_formhelper.html' import render_field %}
{% block title %}
    Login
{% endblock %}
{% block content %}
    <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form class="form-signin">
        {{ render_field(form.username) }}
        {{ render_field(form.password) }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>
    </div>
    <div class="col-md-4"></div>
    </div>

{% endblock %}