{% extends 'base.html' %}
{% from '_formhelper.html' import render_field %}

{% block title %}
    Sin Up
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>Holy guacamole!</strong> You should check in on some of those fields below.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
            {% endwith %}

            <div class="card">
                <div class="card-header">Create Account</div>
                <div class="card-body">
                    <form method=post>
                        <dl>
                            {{ render_field(form.username) }}
                            {{ render_field(form.email) }}
                            {{ render_field(form.password) }}
                            {{ render_field(form.confirm) }}
                            {{ render_field(form.accept_tos) }}
                        </dl>
                        <p><input type=submit value=Register>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
{% endblock %}


