{% extends 'base.html' %}
{% from '_formhelper.html' import render_field,show_flash %}
{% block title %}

{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="page-header">
                <h3>Upload</h3>
                <a href="{{ url_for('upload.file_list') }}">upload files</a>
            </div>
            {{ show_flash() }}
            <form action="{{ url_for('upload.upload_file') }}" enctype="multipart/form-data" method="post">
                <label for="">Upload</label>
                <input type="file" class="form-control" name="file">
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>


        </div>
        <div class="col-md-3"></div>
    </div>

{% endblock %}